.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    background: #1E3A8A;
    color: #EFF6FF;
    font-family: 'Mulish', sans-serif;
    padding-left: 120px;
    padding-right: 120px;
}

.logo-title {
    display: flex;
    align-items: center;
}

.title {
    margin-left: 12px;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
}

.user {
    display: flex;
    height: 50px;
}

.user-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 1rem;
}

.nome {
    font-weight: 600;
    font-size: 1rem;
}

.email {
    font-size: 0.875rem;
    font-weight: 400;
}