.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
  font-family: Mulish;
  height: 61px;
  background: #CBD5E1;
  color: #1E293B;
}

.footer-name {
  font-size: 16px;
  font-weight: 600;
}

.footer-disclaimer {
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {

.footer {
  padding-left: 5px;
  padding-right: 5px;
}

.footer-name {
  font-size: 14px;
  font-weight: 600;
}

.footer-disclaimer {
  font-size: 11px;
  font-weight: 400;
}

}

@media screen and (max-width: 450px) {

  .footer {
    justify-content: center;
  }

  .footer-disclaimer {
    display: none;
  }

}