@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Mulish:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }

  #root, html {
  height: 100vh;
  width: 100vw;
}

body{
  background: #E2E8F0;
  height: 100%;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}