.dash {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 120px;
  padding-right: 120px;
  font-family: 'Inter', sans-serif;
}

.btn-transacao {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
  height: 120px;
  width: inherit;
  background: #1e3a8a;
  cursor: pointer;
  box-shadow: 5px 15px 30px -5px #dce0ec;
}

.btn-text {
  font-size: 24px;
  font-weight: 800;
  color: #f1f5f9;
  margin-left: 12px;
}

@media screen and (max-width: 1440px) {
  .dash {
    height: auto;
  }

  .btn-transacao {
    height: 100px;
    padding: 5px;
  }

  .btn-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) {

  .btn-transacao {
    height: 80px;
    padding: 5px;
  }

  .btn-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .dash {
    flex-direction: column;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
    gap: 5px;
    margin: 5px 0 5px 0;
  }

  .btn-transacao {
    height: 50px;
  }
  .btn-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {

  .dash {
    padding-left: 10px;
    padding-right: 10px;
}

}